---
import Links from "../components/Links.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="flex flex-col justify-center items-start gap-6 self-stretch">
		<h1 class="font-400 text-8">About me</h1>
		<p class="self-stretch text-4 lh-[150%]">
			Hey 👋🏼, I'm Andrew, a Software Engineer with a focus on pushing the boundaries of technology in the realms of IoT, hardware, and firmware, alongside my roots in full-stack development. Currently, I'm thriving at A-V Services, where I am deeply involved in the creation of innovative IoT hardware devices. These devices play a crucial role in monitoring and improving IT/AV systems.	
		</p>

		<p class="self-stretch text-4 lh-[150%]">
			My passion for technology is more than just a career; it's a continuous journey of discovery and innovation. I'm always on the lookout for new challenges and opportunities to expand my skill set. Whether it's delving deeper into the intricacies of IoT and distributed systems or enhancing my proficiency in Go and Rust, my commitment is to stay at the forefront of technological advancements.	
		</p>

		<p class="self-stretch text-4 lh-[150%]">
			In today's rapidly evolving digital landscape, I believe that adaptability and forward-thinking are key. That's why I'm dedicated to not only keeping pace with the latest developments but also contributing to them. My goal is to be an integral part of the technological evolution, driving change and shaping the future of digital solutions.	
		</p>
	</div>

	<Links />
</BaseLayout>

<style>
	* {
		margin: 0;
	}
</style>
