---
import Links from "../components/Links.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="flex flex-col justify-center items-start gap-6 self-stretch">
		<h1 class="font-400 text-8">Hey 👋🏻, I'm Andrew</h1>
		<p class="self-stretch text-4 lh-[150%]">
			As a Full Stack Engineer, I fuse my deep-rooted passion for
			technology with a keen eye for design. My skill set covers a broad
			spectrum, from developing vibrant web applications using
			contemporary frameworks to engineering robust back-end systems. I am
			proficient in Go and Java, which empowers me to build scalable and
			efficient solutions.
		</p>

		<p class="self-stretch text-4 lh-[150%]">
			On top of building scalable back-ends, I place significant emphasis
			on the user experience. My proficiency extends beyond the server,
			bringing HTML, CSS, JavaScript, and advanced frameworks like Astro,
			Svelte, and React together to craft not just applications, but
			complete, user-centric experiences. At the core of my work is a
			commitment to balance - where elegant design meets functional
			prowess, transforming each project from a mere codebase into a
			thoughtfully engineered digital journey.
		</p>
	</div>

	<Links />
</BaseLayout>

<style>
	* {
		margin: 0;
	}
</style>
