---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogItem from "../components/BlogItem.astro";
---

<BaseLayout title="Andrew's Thoughts">
	<div class="section-padding flex flex-col gap-4">
		<BlogItem
			title="Hello World"
			description="This is a test post"
			date="2021-08-01"
		/>
	</div>
</BaseLayout>
