---
import ProjectItem from "../components/ProjectItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Andrew's Work">
	<div class="section-padding flex flex-col gap-4">
		<ProjectItem
			title="Professional Website Example 1"
			description="A clean, modern, professinal website for a small business."
			keywords={["Modern", "Minimal", "Small Business"]}
			link=""
		/>
	</div>
</BaseLayout>
