---

---

<div class="flex justify-center items-center gap-6 w-fit">
	<a href="https://github.com/AndrewVota" target="_blank"
		><img class="w-6 h-6" src="/media/GithubIcon.svg" alt="Github" /></a
	>
	<a href="https://twitter.com/VotaAndrew" target="_blank"
		><img class="w-6 h-6" src="/media/XIcon.svg" alt="X / Twitter" /></a
	>
	<a href="https://www.linkedin.com/in/andrewvota/" target="_blank"
		><img class="w-6 h-6" src="/media/LinkedInIcon.svg" alt="LinkedIn" /></a
	>
	<a href="mailto:hi@andrewvota.dev" target="_blank"
		><img class="w-8.1 h-6" src="/media/EmailIcon.svg" alt="Email" /></a
	>
</div>
