---

---

<div class="inline-flex section-padding gap-6">
	<a href="https://github.com/AndrewVota" target="_blank"
		><img src="/assets/icons/Github Icon.svg" alt="Github link" /></a
	>
	<a href="https://twitter.com/VotaAndrew" target="_blank"
		><img src="/assets/icons/X Icon.svg" alt="X / Twitter link" /></a
	>
	<a href="https://www.linkedin.com/in/andrewvota/" target="_blank"
		><img src="/assets/icons/LinkedIn Icon.svg" alt="LinkedIn link" /></a
	>
	<a href="mailto:hi@andrewvota.dev" target="_blank"
		><img src="/assets/icons/Email Icon.svg" alt="Direct email link" /></a
	>
</div>
