---

---

<div class="flex justify-center items-center gap-6 w-fit">
	<a
		href="https://github.com/AndrewVota"
		target="_blank"
		aria-label="Check out my Github"
		><img class="w-6 h-6" src="/media/GithubIcon.svg" alt="Github" />
	</a>

	<a
		href="https://twitter.com/VotaAndrew"
		target="_blank"
		aria-label="Follow me on X / Twitter"
		><img class="w-6 h-6" src="/media/XIcon.svg" alt="X / Twitter" />
	</a>

	<a
		href="https://www.linkedin.com/in/andrewvota/"
		target="_blank"
		aria-label="Connect with me on LinkedIn"
		><img class="w-6 h-6" src="/media/LinkedInIcon.svg" alt="LinkedIn" />
	</a>

	<a
		href="mailto:hi@andrewvota.dev"
		target="_blank"
		aria-label="Send me an email"
	>
		<img class="w-8.1 h-6" src="/media/EmailIcon.svg" alt="Email" />
	</a>
</div>
