---
import WorkLayout from "../../layouts/WorkLayout.astro";
---

<WorkLayout
	title="Work | Authentic Restaurant Landing Page"
	workTitle="Authentic Restaurant Landing Page"
>
	<div w-full>
		<img
			class="w-full h-full"
			width="1440"
			src="/assets/work/authentic-restaurant-landing-page.webp"
			alt="Example of an authentic restaurant landing page"
		/>
	</div>
</WorkLayout>
