---
import WorkLayout from "../../layouts/WorkLayout.astro";
---

<WorkLayout
	title="Work | Modern Clean Landing Page"
	workTitle="Modern Wellness Landing Page"
>
	<!-- 3047 -->
	<div w-full>
		<img
			class="w-full"
			width="1440"
			height="auto"
			src="/assets/work/modern-wellness-landing-page.webp"
			alt="Example of a modern wellness business website."
		/>
	</div>
</WorkLayout>
