---
import WorkLayout from "../../layouts/WorkLayout.astro";
---

<WorkLayout
	title="Work | Modern Clean"
	workTitle="Modern Wellness Landing Page"
>
	<div w-full>
		<img
			class="w-full"
			src="/assets/work/modern-wellness-landing-page.png"
			alt="Example of a modern wellness business website."
		/>
	</div>
</WorkLayout>
