---
import WorkLayout from "../../layouts/WorkLayout.astro";
---

<WorkLayout
	title="Work | Professional Painter Landing Page"
	workTitle="Professional Painter Landing Page"
>
	<div w-full>
		<img
			class="w-full h-full"
			width="1440"
			src="/assets/work/professional-painter-landing-page.webp"
			alt="Example of a landing page for a professional painter."
		/>
	</div>
</WorkLayout>
