---
import CommonHead from "./CommonHead.astro";
import Navigation from "../components/Navigation.astro";

const { title = "Andrew Vota" } = Astro.props;
---

<html lang="en">
	<CommonHead title={title} />

	<body>
		<div class="max-w-[800px] flex flex-col w-full">
			<Navigation />
			<slot />
		</div>
	</body>
</html>
