---
import { ViewTransitions } from "astro:transitions";
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Andrew Vota's personal website." />
	<link rel="icon" type="image/svg+xml" href="/favicon.png" />
	<link rel="stylesheet" href="/styles/global.css" />
	<title>Andrew Vota</title>
	<ViewTransitions />

	<!-- Umami analytics -->
	<!-- <script
		async
		src="https://analytics.andrewvota.dev/script.js"
		data-website-id="d11b8f8b-a286-4f00-8679-8910dc51f5a1"></script> -->
</head>
