---
import CommonHead from "./CommonHead.astro";
import Navigation from "../components/Navigation.astro";
import WorkNavigationHeader from "../components/WorkNavigationHeader.astro";

const { title = "Work | Example" } = Astro.props;
const { workTitle } = Astro.props;
---

<html lang="en">
	<CommonHead title={title} />

	<body>
		<div>
			<div class="max-w-[800px] flex flex-col w-full">
				<Navigation />
				<WorkNavigationHeader title={workTitle} />
			</div>
			<div
				class="w-full max-w-[1440px] border-t-solid border-t border-t-text-color"
			>
				<slot />
			</div>
		</div>
	</body>
</html>
